body {

  background: #757F9A;
  background: -webkit-linear-gradient(to left, #b3bde9, #4360aa);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #b3bde9, #4360aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

* {
    margin: 0;
    padding: 0;
}